<div class="corpsPage flexColumnCenter col-xs-12 col-md-8 col-lg-4">
  <div class="titreSection">Connexion</div>
  <form [formGroup]="form" novalidate="" class="section flexColumnCenter form">
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="mail_utilisateur" class="labelForm">Adresse mail</label>
      <input type="text" name="mail_utilisateur" formControlName="mail_utilisateur" id="mail_utilisateur" class="inputTexteContenu" minlength="0">
      <div *ngIf="mail_utilisateur.invalid" class="alertFormulaire">
        <div *ngIf="mail_utilisateur.errors.required">
          Veuiller saisir un email.
        </div>
      </div>
    </div>

    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="mdp_utilisateur" class="labelForm">Mot de passe</label>
      <input type="password" name="mdp_utilisateur" formControlName="mdp_utilisateur" id="mdp_utilisateur" class="inputTexteContenu" minlength="8">
      <div *ngIf="mdp_utilisateur.invalid" class="alertFormulaire">
        <div *ngIf="mdp_utilisateur.errors.required">
          Veuillez saisir un mot de passe.
        </div>
      </div>
    </div>

    <div class="flexColumnStart inputTexte inputTextTaille2">
        <input type="checkbox" id="remember">
        <label for="remember"> Se souvenir de moi  </label>
    </div>

    <div class="separateurHorizontal">&nbsp;</div>
    <div class="section flexCenter flexWrap">
      <button class="button" (click)="onLogin()" [disabled]="form.invalid || !api" type="submit"><i class=""></i>SE CONNECTER</button>
    </div>
    <div class="section flexCenter flexWrap">
      <button class="button"  type="submit"><i class=""></i>Mot de passe oublié</button>
    </div>
  </form>
</div>
