<div class="corpsPage flexColumnCenter">
    <img src="./assets/params/images/logo/logo.png" class="logoMadera" alt="Logo MADERA Modulaire Bois">
    <h1>MADERA</h1><br>
    <button class="btnAccueil" routerLink="/gestionClient" routerLinkActive="active">GESTION CLIENT</button>
    <button class="btnAccueil" routerLink="/devis" routerLinkActive="active">CRÉER UN DEVIS</button>
    <button class="btnAccueil">CRÉER UN DEVIS</button>
    <button class="btnAccueil">RECHERCHER UN DEVIS</button>
    <button class="btnAccueil">CONFIGURATEUR</button>
    <button class="btnAccueil" routerLink="/login" routerLinkActive="active">CONNEXION</button>
    <button class="btnAccueil">DÉCONNEXION</button>
</div>
