<div class="corpsPage flexColumnCenter col-xs-12 col-md-8 col-lg-4">
    <img src="./assets/params/images/logo/logo.png" class="logoMadera" alt="Logo MADERA Modulaire Bois">
    <h1>MADERA</h1><br>
    <button class="btnAccueil" routerLink="/clients" routerLinkActive="active">GESTION CLIENT</button>
    <button class="btnAccueil" routerLink="/devis" routerLinkActive="active">GESTION DEVIS</button>
    <button class="btnAccueil" routerLink="/commercials" routerLinkActive="active">GESTION DES UTILISATEURS</button>
</div>
