<div class="corpsPage flexColumnCenter">
    <img src="assets/logo.png" class="logoMadera" alt="Logo MADERA Modulaire Bois">
    <h1>MADERA</h1><br>
    <button class="btnAccueil">CRÉER UN DEVIS</button>
    <button class="btnAccueil">RECHERCHER UN DEVIS</button>
    <button class="btnAccueil">CONFIGURATEUR</button>
    <button class="btnAccueil">DÉCONNEXION</button>

    <ul class="navbar-nav ml-auto font-weight-bold">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">
          <i class="fas fa-home mr-2"></i>Acceuil
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/devis">
          <i class="fas fa-file-alt mr-2"></i>Devis
        </a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/login">
          <i class="fas fa-sign-in-alt mr-2"></i>Connexion
        </a>
      </li>
    </ul>

</div>
