<div class="row">
  <div class="col-md-12 text-center" style="top: 80px">
    <div class="row pt-1 mb-2">
      <div class="col-md-4 text-center mb-2">
        <h1 class="h5">
          {{ name }} - home general
        </h1>
      </div>
    </div>
    <hr>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Connexion</h5>
        <p class="card-text">Test HttpClient</p>
        <a href="#" routerLink="/login" class="btn btn-success">Login</a>
      </div>
    </div>
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">Devis</h5>
        <p class="card-text">Test HttpClient</p>
        <a href="#" routerLink="/devis" class="btn btn-success">Devis</a>
      </div>
    </div>
  </div>
</div>
