<div class="corpsPage flexColumnCenter col-xs-12 col-md-8 col-lg-4">
  <h1>Liste des composants</h1><br>
  <app-search-bar [searchField]="searchField" [itemsCount]="itemsCount" [icon]="icon" [results]="results"
    [placeholder]="placeholder" (search)="onSearch($event)"></app-search-bar>

  <div class="row" *ngIf="loaded && itemsCount==0">
    <div class="col">
      <app-search-result [searchField]="searchField" [found]="found" [creation]="creation" [link]="link"></app-search-result>
    </div>
  </div>

  <a href="#" routerLink="/ajoutModule" style="border: 0 solid ">
    <button [disabled]="!api" class="button">
      <i class="fas fa-plus fa-lg"></i> Ajouter un composant
    </button>
  </a>

  <div class="row" *ngIf="loaded && itemsCount!=0">
      <app-grid [items]="items.listeCaracteristique" [columns]="columns" [link]="link"></app-grid>
      <app-pagination [count]="itemsCount" [page]="itemsPage" [perPage]="itemsPerPage"
        (changePage)="onChangePage($event)">
      </app-pagination>
  </div>
</div>
