<div class="corpsPage flexColumnCenter col-xs-12 col-md-8 col-lg-4">
  <div class="titreSection">CARACTÉRISTIQUE DU MODULE</div>
  <form [formGroup]="form" novalidate="" class="section flexColumnCenter form">
    <input type="text" name="modu_id" hidden formControlName="modu_id" id="modu_id" class="inputTexteContenu text-right" >
    <div class="separateurHorizontal">&nbsp;</div>
    <!-- Section -->
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="cara_section" class="labelForm">Section</label>
      <input type="text" name="cara_section" formControlName="cara_section" id="cara_section" class="inputTexteContenu" maxlength="100">
    </div>
    <!-- Hauteur -->
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="cara_hauteur" class="labelForm">Hauteur</label>
      <input type="text" name="cara_hauteur" formControlName="cara_hauteur" id="cara_hauteur" class="inputTexteContenu" maxlength="100">
    </div>
    <!-- Longueur -->
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="cara_longueur" class="labelForm">Longueur</label>
      <input type="text" name="cara_longueur" formControlName="cara_longueur" id="cara_longueur" class="inputTexteContenu" maxlength="100">
    </div>
    <!-- Type d'angle -->
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="cara_type_angle" class="labelForm">Type d'angle</label>
      <select class="inputTexteContenu" name="cara_type_angle"  formControlName="cara_type_angle" id="cara_type_angle" ng-model="cara_type_angle">
        <option value="" disabled> Quel type d'angle ?</option>
        <option value="1">Entrant</option>
        <option value="2">Sortant</option>
      </select>
    </div>
    <!-- Degré -->
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="cara_angle" class="labelForm">Degré</label>
      <input type="text" name="cara_angle" formControlName="cara_angle" id="cara_angle" class="inputTexteContenu" maxlength="100">
    </div>
    <br>
    <div class="separateurHorizontal">&nbsp;</div>
    <div class="section flexCenter flexWrap">
      <button class="button" (click)="backClicked()"><i class="fas fa-arrow-left fa-lg"></i></button>
      <button class="button" (click)="onUpdate()" [disabled]="form.invalid || !api" type="submit"><i class="fas fa-save fa-lg"></i></button>
    </div>
  </form>
</div>
