<div class="corpsPage flexColumnCenter col-xs-12 col-md-8 col-lg-4">
  <div class="titreSection">AJOUTER UN PRODUIT</div>
  <form  [formGroup]="form" novalidate="" class="section flexColumnCenter">

    <div class="separateurHorizontal">&nbsp;</div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="product_id" class="labelForm">Produit</label>
      <select name="product_id"  formControlName="product_id" id="product_id" ng-model="product_id">
        <option value="" disabled> Quel produit ?</option>
        <option [value]="produit.id" *ngFor="let produit of listProduits"> {{produit.nom}} </option>
      </select>
      <div *ngIf="product_id.invalid" class="alertFormulaire">
        <div *ngIf="product_id.errors.required">
          Veuillez sélectioner un produit.
        </div>
      </div>
    </div>

    <div class="separateurHorizontal">&nbsp;</div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="gammes_id" class="labelForm">Gamme du produit</label>
      <select name="gammes_id"  formControlName="gammes_id" id="gammes_id" ng-model="gammes_id">
        <option value="" disabled> Quel niveau de gamme ?</option>
        <option [value]="gamme.id" *ngFor="let gamme of listGammes"> {{gamme.nom_gamme}} </option>
      </select>
      <div *ngIf="gammes_id.invalid" class="alertFormulaire">
        <div *ngIf="gammes_id.errors.required">
          Veuillez sélectioner un niveau de gamme.
        </div>
      </div>
    </div>

    <div class="separateurHorizontal">&nbsp;</div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="modele_id" class="labelForm">Model de la gammes</label>
      <select name="modele_id"  formControlName="modele_id" id="modele_id" ng-model="modele_id">
        <option value="" disabled> Quel model de la gamme ?</option>
        <option [value]="model.id" *ngFor="let model of listModels"> {{model.nom}} </option>
      </select>
      <div *ngIf="modele_id.invalid" class="alertFormulaire">
        <div *ngIf="modele_id.errors.required">
          Veuillez sélectioner un model de la gamme.
        </div>
      </div>
    </div>

    <div class="separateurHorizontal">&nbsp;</div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="plans" class="labelForm">Plans</label>
    </div>

    <div class="separateurHorizontal">&nbsp;</div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
        <div class="section flexCenter flexWrap">
            <button class="button" (click)="backClicked()" [disabled]="!api"><i class="fas fa-arrow-left fa-lg"></i></button>
            <button class="" (click)="onUpdate()" [disabled]="form.invalid || !api" type="submit"><i class="fas fa-save fa-lg"></i></button>
            <button class="button" (click)="onCopy()" [disabled]="form.invalid || !api || item.id==undefined || item.id==null" type="submit"><i class="fas fa-copy fa-lg"></i></button>
            <button class="button" (click)="onDelete()" [disabled]="form.invalid || !api || item.id==undefined || item.id==null" type="submit"><i class="fas fa-trash-alt fa-lg"></i></button>
        </div>
    </div>
  </form>
</div>
