<header>
  <nav class="navbar navbar-expand-md fixed-top navbar-dark " style="background-color: #005500;">
    <a class="navbar-brand font-weight-bold" routerLink="/">
      <img class="mr-2" src="./assets/params/images/logo/logo.png" width="20" height="20" alt="">
      <span style="color:white">{{ title }}</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav ml-auto font-weight-bold">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">
            <i class="fas fa-home mr-2"></i>Acceuil
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/devis">
            <i class="fas fa-file-alt mr-2"></i>Devis
          </a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" routerLink="/login">
            <i class="fas fa-sign-in-alt mr-2"></i>Connexion
          </a>
        </li>
      </ul>
    </div>
  </nav>
</header>
