<div class="corpsPage flexColumnCenter col-xs-12 col-md-8 col-lg-4">
  <div class="titreSection">DEVIS</div>
  <form [formGroup]="form" novalidate="" class="section flexColumnCenter form">
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <div class="row">
          <div class="col-lg-1"><label for="id" class="labelForm">N°</label></div>
          <div class="col-lg-2"><input type="text" name="id" formControlName="id" id="id" class="inputTexteContenu" maxlength="50" disabled></div>
          <div class="col-lg-3"><label for="comm_id" class="labelForm">Commercial :</label></div>
          <div class="col-lg-1"><input type="text" name="id" formControlName="comm_id" id="comm_id" class="inputTexteContenu" maxlength="50" disabled></div>
          <div class="col-lg-2"><label for="devi_date" class="labelForm">date :</label></div>
          <div class="col-lg-3"><input type="date" name="devi_date" formControlName="devi_date" id="devi_date" class="inputTexteContenu" disabled></div>
      </div>
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="devi_nom" class="labelForm">Nom du projet</label>
      <input type="text" name="devi_nom" formControlName="devi_nom" id="devi_nom" class="inputTexteContenu" maxlength="50">
      <div *ngIf="devi_nom.invalid" class="alertFormulaire">
        <div *ngIf="devi_nom.errors.required">
          Veuillez saisir un nom de projet.
        </div>
      </div>
    </div>
    <br>
    <div class="separateurHorizontal">&nbsp;</div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="clie_id" class="labelForm">Client</label>
      <select class="inputTexteContenu" name="clie_id"  formControlName="clie_id" id="clie_id" ng-model="clie_id">
        <option value="" disabled> Le client ?</option>
        <option [value]="client.id" *ngFor="let client of listClients"> {{client.pers_nom}} {{client.pers_prenom}}</option>
      </select>
      <div *ngIf="clie_id.invalid" class="alertFormulaire">
        <div *ngIf="clie_id.errors.required">
          Veuillez sélectioner un client.
        </div>
      </div>
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="mais_id" class="labelForm">Maison</label>
      <select class="inputTexteContenu" name="mais_id"  formControlName="mais_id" id="mais_id" ng-model="mais_id">
        <option value="" disabled> Quel type de maison ?</option>
        <option [value]="maison.id" *ngFor="let maison of listMaisons"> {{maison.mais_nom}} </option>
      </select>
      <div *ngIf="mais_id.invalid" class="alertFormulaire">
        <div *ngIf="mais_id.errors.required">
          Veuillez sélectioner une maison.
        </div>
      </div>
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="gamm_id" class="labelForm">Gamme du produit</label>
      <select class="inputTexteContenu" name="gamm_id"  formControlName="gamm_id" id="gamm_id" ng-model="gamm_id">
        <option value="" disabled> Quel niveau de gamme ?</option>
        <option [value]="gamme.id" *ngFor="let gamme of listGammes"> {{gamme.gamm_nom}} </option>
      </select>
      <div *ngIf="gamm_id.invalid" class="alertFormulaire">
        <div *ngIf="gamm_id.errors.required">
          Veuillez sélectioner un niveau de gamme.
        </div>
      </div>
    </div>
    <br>
    <div class="titreSection">ADRESSE CHANTIER</div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="pays_id" class="labelForm">Pays</label>
      <select class="inputTexteContenu" name="pays_id"  formControlName="pays_id" id="pays_id" ng-model="pays_id">
        <option value="" disabled> Quel est le pays ?</option>
        <option [value]="pays.id" *ngFor="let pays of listPays"> {{pays.pays_nom}} </option>
      </select>
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="adre_region" class="labelForm">Region</label>
      <input type="text" name="adre_region" formControlName="adre_region" id="adre_region" class="inputTexteContenu" maxlength="100">
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="adre_ville" class="labelForm">Ville</label>
      <input type="text" name="adre_ville" formControlName="adre_ville" id="adre_ville" class="inputTexteContenu" maxlength="100">
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="adre_cp" class="labelForm">Code Postal</label>
      <input type="text" name="adre_cp" formControlName="adre_cp" id="adre_cp" class="inputTexteContenu" maxlength="5">
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="adre_rue" class="labelForm">Adresse</label>
      <input type="text" name="adre_rue" formControlName="adre_rue" id="adre_rue" class="inputTexteContenu" maxlength="100">
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="adre_complement">Complement d'adresse</label>
      <input type="text" name="adre_complement" formControlName="adre_complement" id="adre_complement" class="inputTexteContenu" maxlength="100">
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="adre_info">Informations complementaires</label>
      <input type="text" name="adre_info" formControlName="adre_info" id="adre_info" class="inputTexteContenu" maxlength="100">
    </div>
    <br>
    <div class="separateurHorizontal">&nbsp;</div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="devi_prix">Prix</label>
      <input type="text" name="devi_prix" formControlName="devi_prix" id="devi_prix" class="inputTexteContenu" maxlength="100">€
    </div>
    <div class="separateurHorizontal">&nbsp;</div>
    <div class="section flexCenter flexWrap">
      <button class="button" (click)="backClicked()"><i class="fas fa-arrow-left fa-lg"></i></button>
      <button class="button" (click)="onUpdate()" [disabled]="form.invalid || !api"  type="submit"><i class="fas fa-plus fa-lg"></i></button>
      <button class="button" (click)="onDelete()" [disabled]="(id.value == undefined && id.value == null) || !api "><i class="fas fa-trash-alt fa-lg"></i></button>
      <button class="button" (click)="goView()" [disabled]="(id.value == undefined && id.value == null) || !api "><i class="fas fa-file fa-lg"></i></button>
      <button class="button" (click)="goModule()"><i class="fas fa-arrow-right fa-lg"></i></button>
    </div>
  </form>
</div>
