<form _ngcontent-ganatan-c10=""  [formGroup]="form" novalidate="" class="ng-untouched ng-pristine ng-valid" style="padding-top: 80px; margin: auto ">
  <div _ngcontent-ganatan-c10="" class="row">
    <div _ngcontent-ganatan-c10="" class="col-12">
      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group col-md-1">
          <label _ngcontent-ganatan-c10="" class="text-success" for="id">Reference</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="id" id="id" placeholder="" readonly="" type="text">
        </div>
        <div _ngcontent-ganatan-c10="" class="form-group offset-md-9 col-md-2">
          <label _ngcontent-ganatan-c10="" class="text-success" for="releaseDate">Date de creation</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="releaseDate" id="releaseDate" placeholder="" type="date">
        </div>
      </div>

      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group col-md-12">
          <label _ngcontent-ganatan-c10="" class="text-success" for="releaseDate">Date de creation</label>
          <label _ngcontent-ganatan-c10="" class="text-success font-weight-bold" for="nameProjet">NOM DU PROJET</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control font-weight-bold ng-untouched ng-pristine ng-valid" formControlName="nameProjet" id="nameProjet" placeholder="Nom du projet" type="text">
          <div *ngIf="nameProjet.invalid" class="alert alert-primary mt-2">
            <div *ngIf="nameProjet.errors.required">
              Veuiller saisir un nom de projet.
            </div>
          </div>
          <!---->
        </div>
      </div>
  <hr>
      <div _ngcontent-ganatan-c10="" class="disabled clearfix d-none d-md-block pt-2">
        <span _ngcontent-ganatan-c10="" class="text-success font-weight-bold mr-4">FICHE CLIENT</span>
      </div>

      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group col-md-6">
          <label _ngcontent-ganatan-c10="" class="text-success" for="firstName">Prénom</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="firstName" id="firstName" placeholder="John" type="text">
          <div *ngIf="firstName.invalid" class="alert alert-primary mt-2">
            <div *ngIf="firstName.errors.required">
              Veuiller saisir un prénom.
            </div>
          </div>
        </div>
        <div _ngcontent-ganatan-c10="" class="form-group col-md-6">
          <label _ngcontent-ganatan-c10="" class="text-success" for="name">Nom</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="name" id="name" placeholder="Doe" type="text">
          <div *ngIf="name.invalid" class="alert alert-primary mt-2">
            <div *ngIf="name.errors.required">
              Veuiller saisir un nom.
            </div>
          </div>
        </div>
      </div>

      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group col-md-12">
          <label _ngcontent-ganatan-c10="" class="text-success" for="addressCustomer1">Adresse 1</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="addressCustomer1" id="addressCustomer1" placeholder="" type="text">
          <div *ngIf="addressCustomer1.invalid" class="alert alert-primary mt-2">
            <div *ngIf="addressCustomer1.errors.required">
              Veuiller saisir une adresse.
            </div>
          </div>
        </div>
      </div>
      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group col-md-12">
          <label _ngcontent-ganatan-c10="" class="text-success" for="addressCustomer2">Adresse 2</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="addressCustomer2" id="addressCustomer2" placeholder="" type="text">
        </div>
      </div>
      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group col-md-12">
          <label _ngcontent-ganatan-c10="" class="text-success" for="addressCustomer3">Adresse 3</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="addressCustomer3" id="addressCustomer3" placeholder="" type="text">
        </div>
      </div>

      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group col-md-1">
          <label _ngcontent-ganatan-c10="" class="text-success" for="cp">Code postal</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="cp" id="cp" placeholder="72000" type="text">
          <div *ngIf="cp.invalid" class="alert alert-primary mt-2">
            <div *ngIf="cp.errors.required">
              Veuiller saisir un code postal.
            </div>
          </div>
        </div>
        <div _ngcontent-ganatan-c10="" class="form-group col-md-5">
          <label _ngcontent-ganatan-c10="" class="text-success" for="city">Ville</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="city" id="city" placeholder="Le Mans" type="text">
          <div *ngIf="city.invalid" class="alert alert-primary mt-2">
            <div *ngIf="city.errors.required">
              Veuiller saisir une ville.
            </div>
          </div>
        </div>
      </div>

      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group col-md-1">
          <label _ngcontent-ganatan-c10="" class="text-success" for="phone">Téléphone</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="phone" id="phone" placeholder="0123456789" type="tel">
          <div *ngIf="phone.invalid" class="alert alert-primary mt-2">
            <div *ngIf="phone.errors.required">
              Veuiller saisir un numero de telephone.
            </div>
          </div>
        </div>
        <div _ngcontent-ganatan-c10="" class="form-group col-md-5">
          <label _ngcontent-ganatan-c10="" class="text-success" for="email">Email</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="email" id="email" placeholder="exemple@domaine.fr" type="email">
        </div>
      </div>
  <hr>
      <div _ngcontent-ganatan-c10="" class="disabled clearfix d-none d-md-block pt-2">
        <span _ngcontent-ganatan-c10="" class="text-success font-weight-bold mr-4">ADRESSE CHANTIER</span>
      </div>

      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group col-md-12">
          <label _ngcontent-ganatan-c10="" class="text-success" for="addressConstruction1">Adresse 1</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="addressConstruction1" id="addressConstruction1" placeholder="" type="text">
        </div>
      </div>
      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group col-md-12">
          <label _ngcontent-ganatan-c10="" class="text-success" for="addressConstruction2">Adresse 2</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="addressConstruction2" id="addressConstruction2" placeholder="" type="text">
        </div>
      </div>
      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group col-md-12">
          <label _ngcontent-ganatan-c10="" class="text-success" for="addressConstruction2">Adresse 3</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="addressConstruction3" id="addressConstruction3" placeholder="" type="text">
        </div>
      </div>

      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group col-md-1">
          <label _ngcontent-ganatan-c10="" class="text-success" for="cpConstruction">Code postal</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="cpConstruction" id="cpConstruction" placeholder="72000" type="text">
        </div>
        <div _ngcontent-ganatan-c10="" class="form-group col-md-5">
          <label _ngcontent-ganatan-c10="" class="text-success" for="cityConstruction">Ville</label>
          <input _ngcontent-ganatan-c10="" class="text-success form-control ng-untouched ng-pristine ng-valid" formControlName="cityConstruction" id="cityConstruction" placeholder="Le Mans" type="text">
        </div>
      </div>

      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group text-center col-md-12">
          <a href="#" routerLink="/devis" class="btn btn-primary">Enregistrer</a>
        </div>
      </div>

      <div _ngcontent-ganatan-c10="" class="form-row">
        <div _ngcontent-ganatan-c10="" class="form-group text-center col-md-1">
          <a href="#" routerLink="/" class="btn btn-primary">Retour</a>
        </div>
      </div>
    </div>
  </div>
</form>
