<div class="corpsPage flexColumnCenter col-xs-12 col-md-8 col-lg-6">
  <div class="titreSection">MODULE</div>
  <form [formGroup]="form" novalidate="" class="section flexColumnCenter form">
    <!-- Champs cache -->
    <input name="devi_id" formControlName="devi_id" id="devi_id" class="inputTexteContenu text-right"  hidden>
    <!-- Familles de module -->
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="id" class="labelForm">N°</label>
      <input disabled type="text" name="id" formControlName="id" id="id" class="inputTexteContenu" maxlength="50">
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="tymo_id" class="labelForm">Type de module</label>
      <select  (change)="onChangeTypeModule($event.target.value)" class="inputTexteContenu" name="tymo_id"  formControlName="tymo_id" id="tymo_id" ng-model="tymo_id" [ngClass]="{'inputTexteContenuInvalide': tymo_id.invalid}">
        <option value="" disabled> Quelle famille de module ?</option>
        <option [value]="familleModule.id" *ngFor="let familleModule of listFamillesModules"> {{familleModule.tymo_nom}} </option>
      </select>
      <div *ngIf="tymo_id.invalid" class="alertFormulaire">
        <div *ngIf="tymo_id.errors.required">
          Veuillez sélectionner une famille de module.
        </div>
      </div>
    </div>

    <!-- Modules -->
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="modu_reference_id" class="labelForm">Module de référence</label>
      <select (change)="onChangeModule($event.target.value)" class="inputTexteContenu" name="modu_reference_id"  formControlName="modu_reference_id" id="modu_reference_id" ng-model="modu_id" [ngClass]="{'inputTexteContenuInvalide': modu_reference_id.invalid}">
        <option value="" disabled> Quel module ?</option>
        <option [value]="module.id" *ngFor="let module of listModules"> {{module.modu_nom}} </option>
      </select>
      <div *ngIf="modu_reference_id.invalid" class="alertFormulaire">
        <div *ngIf="modu_reference_id.errors.required">
          Veuillez sélectionner un module.
        </div>
      </div>
    </div>

    <!-- Nom du module -->
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="modu_nom" class="labelForm">Nom du module</label>
      <input type="text" name="modu_nom" formControlName="modu_nom" id="modu_nom" class="inputTexteContenu" maxlength="100">
    </div>
    <!-- <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="modu_prix_unitaire" class="labelForm">Prix unitaire du module</label>
      <input type="text" name="modu_prix_unitaire" formControlName="modu_prix_unitaire" id="modu_prix_unitaire" class="inputTexteContenu" maxlength="100">
    </div> -->
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="modu_prix_total">Prix</label>
      <div class="flexSpaceBetween section">
        <input disabled type="text" name="modu_prix_total" formControlName="modu_prix_total" id="modu_prix_total" class="inputTexteContenu" maxlength="100">
        <label class="prixSpec">€</label>
      </div>
    </div>
    <br>
    <div class="titreSection">PERSONNALISATION DU MODULE</div>
    <!-- Activer la personnalisation du module -->
    <div class="flexStart inputTexte inputTextTaille2">
      <input type="checkbox" id="personnaliserModule" (click)="showCustomOptions()">
      <label for="personnaliserModule"> Personnaliser le module</label>
    </div>
    <!-- isolant -->
    <div class="flexColumnStart inputTexte inputTextTaille2" *ngIf="hiddenCustomOptions">
      <label for="isol_id" class="labelForm">Isolant</label>
      <select class="inputTexteContenu" name="isol_id"  formControlName="isol_id" id="isol_id" ng-model="isol_id">
        <option value="" disabled> Quel isolant ?</option>
        <option [value]="isolant.id" *ngFor="let isolant of listIsolants"> {{isolant.isol_nom}}</option>
      </select>
      <!-- <div *ngIf="isol_id.invalid" class="alertFormulaire">
        <div *ngIf="isol_id.errors.required">
          Veuillez sélectionner un isolant.
        </div>
      </div> -->
    </div>
    <!-- Finition intérieure -->
    <div class="flexColumnStart inputTexte inputTextTaille2" *ngIf="hiddenCustomOptions">
      <label for="fiin_id" class="labelForm">Finition intérieure</label>
      <select class="inputTexteContenu" name="fiin_id"  formControlName="fiin_id" id="fiin_id" ng-model="fiin_id">
        <option value="" disabled> Quelle finition intérieure ?</option>
        <option [value]="finitionInterieure.id" *ngFor="let finitionInterieure of listFinitionsInterieures"> {{finitionInterieure.fiin_nom}}</option>
      </select>
      <!-- <div *ngIf="fiin_id.invalid" class="alertFormulaire">
        <div *ngIf="fiin_id.errors.required">
          Veuillez sélectionner une finition intérieure.
        </div>
      </div> -->
    </div>
    <!-- Finition extérieure -->
    <div class="flexColumnStart inputTexte inputTextTaille2" *ngIf="hiddenCustomOptions">
      <label for="fiex_id" class="labelForm">Finition extérieure</label>
      <select class="inputTexteContenu" name="fiex_id"  formControlName="fiex_id" id="fiex_id" ng-model="fiex_id">
        <option value="" disabled> Quelle finition extérieure ?</option>
        <option [value]="finitionExterieure.id" *ngFor="let finitionExterieure of listFinitionsExterieures"> {{finitionExterieure.fiex_nom}}</option>
      </select>
      <!-- <div *ngIf="fiex_id.invalid" class="alertFormulaire">
        <div *ngIf="fiex_id.errors.required">
          Veuillez sélectionner une finition extérieure.
        </div>
      </div> -->
    </div>
    <!-- Sélection de la coupe de principe -->
    <div class="flexColumnStart inputTexte inputTextTaille2" *ngIf="hiddenCustomOptions">
      <label for="cctp_id" class="labelForm">Sélection de la coupe de principe</label>
      <select class="inputTexteContenu" name="cctp_id"  formControlName="cctp_id" id="cctp_id" ng-model="cctp_id">
        <option value="" disabled> Quelle coupe de principe ?</option>
        <option [value]="CoupePrincipe.id" *ngFor="let CoupePrincipe of listCoupesPrincipe"> {{CoupePrincipe.cctp_nom}}</option>
      </select>
      <!-- <div *ngIf="cctp_id.invalid" class="alertFormulaire">
        <div *ngIf="cctp_id.errors.required">
          Veuillez sélectionner une coupe de principe.
        </div>
      </div> -->
    </div>
    <!-- Sélection de la coupe de principe -->
    <div class="flexColumnStart inputTexte inputTextTaille2" *ngIf="hiddenCustomOptions">
      <label for="couv_id" class="labelForm">Sélection de la couverture</label>
      <select class="inputTexteContenu" name="couv_id"  formControlName="couv_id" id="couv_id" ng-model="couv_id">
        <option value="" disabled> Quelle couverture ?</option>
        <option [value]="couverture.id" *ngFor="let couverture of listCouvertures"> {{couverture.couv_nom}}</option>
      </select>
    </div>
    <br>
    <div class="separateurHorizontal">&nbsp;</div>
    <div class="section flexCenter flexWrap">
      <button class="button" (click)="backClicked()"><i class="fas fa-arrow-left fa-lg"></i></button>
      <button class="button" (click)="onUpdate();backClicked()" [disabled]="form.invalid || !api" type="submit"><i class="fas fa-save fa-lg"></i></button>
      <button class="button" (click)="onCopy();backClicked()" [disabled]="form.invalid || !api"><i class="fas fa-copy fa-lg"></i></button>
      <button class="button" (click)="goCarac()" [disabled]="(id.value == undefined && id.value == null) || !api "><i class="fas fa-arrow-right fa-lg"></i></button>
    </div>
  </form>
</div>
