<div class="corpsPage flexColumnCenter">
    <!-- <img src="./src/assets/params/images/logo/" class="logoMadera" alt="Logo MADERA Modulaire Bois"> -->
    <h1>GESTION DEVIS</h1><br>
    <button class="btnAccueil" routerLink="/listDevis" routerLinkActive="active">LISTE DES DEVIS</button>
    <button class="btnAccueil" routerLink="/ajoutDevis" routerLinkActive="active">CRÉER UN DEVIS</button>
    <button class="btnAccueil">MODIFIER UN DEVIS</button>
    <button class="btnAccueil">SUPPRIMER UN DEVIS</button>
</div>
