<div class="corpsPage flexColumnCenter col-xs-12 col-md-8 col-lg-4">
    <!-- <img src="./src/assets/params/images/logo/" class="logoMadera" alt="Logo MADERA Modulaire Bois"> -->
    <h1>CONFIGURATEUR</h1><br>
    <button class="btnAccueil" routerLink="/ajoutModule" routerLinkActive="active">MODULES</button>
    <button class="btnAccueil" routerLink="/ajoutCaracteristiquesModule" routerLinkActive="active">CARACTERISTIQUE</button>
    <button class="button" (click)="backClicked()"><i class="fas fa-arrow-left fa-lg"></i></button>
</div>
