<div class="corpsPage flexColumnCenter col-xs-12 col-md-8 col-lg-6">
  <div class="titreSection">UTILISATEUR</div>
  <form [formGroup]="form" novalidate="" class="section flexColumnCenter form">
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="id" class="labelForm">id</label>
      <input type="text" name="id" formControlName="id" id="id" class="inputTexteContenu" maxlength="50" disabled>
    </div>
    <div class="separateurHorizontal">&nbsp;</div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="pers_nom" class="labelForm">Nom</label>
      <input type="text" name="pers_nom" formControlName="pers_nom" id="pers_nom" class="inputTexteContenu" maxlength="50">
      <div *ngIf="pers_nom.invalid" class="alertFormulaire">
        <div *ngIf="pers_nom.errors.required">
          Veuillez saisir un nom.
        </div>
      </div>
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="pers_prenom" class="labelForm">Prénom</label>
      <input type="text" name="pers_prenom" formControlName="pers_prenom" id="pers_prenom" class="inputTexteContenu" maxlength="50">
      <div *ngIf="pers_prenom.invalid" class="pers_prenom">
        <div *ngIf="pers_prenom.errors.required">
          Veuillez saisir un prénom.
        </div>
      </div>
    </div>
    <div class="separateurHorizontal">&nbsp;</div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="pers_mail" class="labelForm">Email</label>
      <input type="email" name="pers_mail" formControlName="pers_mail" id="pers_mail" class="inputTexteContenu" maxlength="100">
      <div *ngIf="pers_mail.invalid" class="alertFormulaire">
        <div *ngIf="pers_mail.errors.required">
          Veuillez saisir un mail.
        </div>
      </div>
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="pers_tel" class="labelForm">téléphone</label>
      <input type="text" name="pers_tel" formControlName="pers_tel" id="pers_tel" class="inputTexteContenu" maxlength="10">
      <div *ngIf="pers_tel.invalid" class="alertFormulaire">
        <div *ngIf="pers_tel.errors.required">
          Veuillez saisir un n° téléphone.
        </div>
      </div>
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="comm_mdp" class="labelForm">Mot de passe</label>
      <input type="password" name="comm_mdp" formControlName="comm_mdp" id="comm_mdp" class="inputTexteContenu" minlength="8">
      <div *ngIf="comm_mdp.invalid" class="alertFormulaire">
        <div *ngIf="comm_mdp.errors.required">
          Veuillez saisir un mot de passe.
        </div>
      </div>
    </div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="comm_confirm_mdp" class="labelForm">Confirmer le Mot de passe</label>
      <input type="password" name="comm_confirm_mdp" formControlName="comm_confirm_mdp" id="comm_confirm_mdp" class="inputTexteContenu" minlength="8">
      <div *ngIf="comm_confirm_mdp.invalid" class="alertFormulaire">
        <div *ngIf="comm_confirm_mdp.errors.required">
          Veuillez confirmer votre mot de passe.
        </div>
      </div>
    </div>
    <div class="separateurHorizontal">&nbsp;</div>
    <div class="flexColumnStart inputTexte inputTextTaille2">
      <label for="pers_sexe" class="labelForm">Genre</label>
      <select class="inputTexteContenu" name="genre" formControlName="pers_sexe" id="pers_sexe" ng-model="genre">
        <option value="" disabled> Quel est votre sexe ?</option>
        <option value="homme" >Homme</option>
        <option value="femme" >Femme</option>
      </select>
      <div *ngIf="pers_sexe.invalid" class="alertFormulaire">
        <div *ngIf="pers_sexe.errors.required">
          Veuillez sélectioner un sexe.
        </div>
      </div>
    </div>
    <div class="separateurHorizontal">&nbsp;</div>
    <div class="section flexCenter flexWrap">
      <button class="button" (click)="backClicked()"><i class="fas fa-arrow-left fa-lg"></i></button>
      <button class="button" (click)="onUpdate()" [disabled]="form.invalid || !api" type="submit"><i class="fas fa-plus fa-lg"></i></button>
      <button class="button" (click)="onDelete()" [disabled]="(id.value == undefined && id.value == null) || !api "><i class="fas fa-trash-alt fa-lg"></i></button>
    </div>
  </form>
</div>
