/** ########################################
 * Base de l'application
 * ######################################## */
 html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Arial, Helvetica", sans-serif;
  font-size: 1em;
  color: #249e00;
  /* background-color: #555555; */
  background-color: #f7f7f7;
}

header {
  width: 100%;
  height: 60px;
  margin: 0px;
  padding: 0px;
  background-color: black;
}

app-header {
  width: 100%;
  position: fixed;
  z-index: 10;
}

.appComponent, app-login, app-accueil, app-client, app-customer, app-quotes-form,
app-gestion-client-menu, app-gestion-devis-menu,
app-quotes-list, app-search-bar, app-user, app-users-list, app-grid,
app-modules-form, app-modules-form-carac-add, app-grid {
  width: 100%;
}

.menuComponent {
  width: 50%;
  background-color: #333333;
}

.separateurHorizontal {
  width: 100%;
  height: 2px;
  margin: 5px 0px;
  border-bottom: 2px solid #249e00;
}

.separateurVertical {
  width: 1px;
  height: 30px;
  margin: 0px 5px 0px 10px;
  border-right: 2px solid white;
}

/** ########################################
 * Titres
 * ######################################## */
h1 {
  margin: 0px;
  padding: 0px;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  margin: 0px;
  padding: 0px;
  font-size: 2.3rem;
  text-align: center;
}

h3 {
  margin: 0px;
  padding: 0px;
  font-size: 2.1rem;
  text-align: center;
}

h4 {
  margin: 0px;
  padding: 0px;
  font-size: 1.9rem;
  text-align: center;
}

h5 {
  margin: 0px;
  padding: 0px;
  font-size: 1.7rem;
  text-align: center;
}

h6 {
  margin: 0px;
  padding: 0px;
  font-size: 1.5rem;
  text-align: center;
}

/** ########################################
 * Textes
 * ######################################## */
p {
  margin: 0px;
  padding: 0px;
  font-size: 1.1rem;
}

label {
  margin: 0px;
  padding: 0px;
  font-size: 1.3rem;
}

/** ########################################
 * Menus
 * ######################################## */
.menuGauche {
  position: fixed;
  width: 80%;
  top: 60px;
  left: 0px;
  height: 100%;
  background-color: #333333;
  z-index: 10;
}

.menuDroite {
  position: fixed;
  width: 80%;
  top: 60px;
  right: 0px;
  height: 100%;
  background-color: #333333;
  z-index: 10;
}

.menu {
  padding: 0px 10px;
}

nav {
  width: 90%;
  margin-left: 10px;
}

/* a, a:hover {
  width: 90%;
  padding: 5px 10px;
  text-decoration: none;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #249e00;
  border: 2px solid #249e00;
} */

/** ########################################
 * Corps de la page
 * ######################################## */
.corpsPage {
  width: 90%;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 10px;
  /* border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee; */
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  box-shadow: 3px 3px 15px #999999;
  /* background-color: #444444; */
  /* background-color: #dadada; */
}

.logoMadera {
  width: 100px;
}

.section {
  width: 100%;
}

.titreSection {
  width: 100%;
  padding: 10px 5px;
  margin-bottom: 5px;
  background-color: #4a9a33;
  font-weight: bold;
  color: white;
}

/** ########################################
 * Placement des éléments
 * ######################################## */
.flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flexStart {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexCenter, app-login, app-accueil, app-client, app-customer, app-quotes-form,
app-gestion-client-menu, app-gestion-devis-menu, app-modules-form, app-modules-list,
app-quotes-list, app-search-bar, app-user, app-users-list, app-grid,
app-modules-form, app-modules-form-carac-add, app-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flexColumnStart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.flexWrap {
  flex-wrap: wrap;
}

/** ########################################
 * Boutons
 * ######################################## */
button {
  margin: 10px;
  width: auto;
  padding: 10px 20px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #249e00;
  border: none;
  cursor: pointer;
}
a.button {
  width: 104px;
  margin: 10px;
  padding: 10px 40px;
  color: white;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #249e00;
  border: none;
  cursor: pointer;
}

button:disabled, button:hover:disabled ,button:active:disabled {
  background-color: gray;
  color: white;
}

button:hover, .btnImage:hover, .btnImage:active {
  background-color: #30ce00;
}

button:active {
  color: #249e00;
}

.btnImage {
  width: 50px;
  height: auto;
  margin: 5px;
  background-color: #249e00;
  cursor: pointer;
}

.btnAccueil {
  width: 100%;
}

.btnSearch {
  height: 30px;
  margin: 0px;
  padding: 0px 5px;
  color: white;
  font-size: 1rem;
  font-weight: bold;
  background-color: #249e00;
  border: none;
  cursor: pointer;
}

/** ########################################
 * Formulaire
 * ######################################## */
input:disabled {
  background-color: rgb(210, 210, 210);
}

.inputTexte {
  /* height: 25px; */
  margin: 5px 0px 0px 0px;
  padding: 0px 2px;
  border: none;
  /* border-bottom: 1px solid #249e00; */
}

.inputTextTaille1 {
  width: 45%;
}

.inputTextTaille2 {
  width: 100%;
}

.inputTexteContenu {
  width: 100%;
  margin-bottom: 0px;
  background: white;
  border: 1px solid rgb(210, 210, 210);
  border-radius: 5px;
  color: black;
  font-size: 1.1rem;
  padding: 5px;
}

.alertFormulaire {
  width: 100%;
  margin-bottom: 5px;
  /* padding: 5px; */
  color: rgb(255, 15, 15);
  /* background-color: rgb(255, 55, 55); */
  /* border: 1px solid rgb(255, 15, 15); */
  border-radius: 5px;
}

.searchBar {
  width: 80%;
  height: 30px;
  margin: 0px;
  background: transparent;
  border: 1px solid rgb(210, 210, 210);
  /* border-radius: 5px; */
  color: black;
  font-size: 1.1rem;
}

/** ########################################
 * Tableau
 * ######################################## */
.table-style {
  width: 100%;
}

.th-style {
  color: #249e00;
}

.table-style td {
  color: black!important;
}

.page-item.active .page-link {
  background-color: #249e00!important;
  border-color: #249e00!important;
}

.page-item.active:hover .page-link:hover {
  z-index: 2!important;
  color: #249e00!important;
  text-decoration: none!important;
  background-color: #e9ecef!important;
  border-color: #dee2e6!important;
  cursor: pointer;
}

.green {
  color: #249e00!important;
}

.iconesMenu {
  margin: 0px 5px;
  font-size: 2rem;
}

.iconesMenu:hover {
  color: #30ce00;
}

.prixSpec {
  transform: translateX(-20px);
}

#devi_prix {
  width: 100%;
}

.inputTexteContenuInvalide {
  border: 1px solid red;
}

.inputTexteContenuInvalide:active, .inputTexteContenuInvalide:focus {
  outline: 1px solid red;
  border: 1px solid red;
}

.faPlusListe {
  margin-right: 5px;
}
